{{template "base" .}}

{{define "below-nav-content"}}
    <h1>Search Availability</h1>
{{end}}

{{define "content"}}
    
    <h1>Search Availability</h1>

    <div class="container">
        <div class="row">
            
            <form action="/search_availability" method="post" novalidate class="needs-validation">
                <input type="hidden" name="csrf_token" value={{.CSRFToken}}>
                    <!--
                <div class=" ">
                  <label for="startDateInput" class="form-label">Start date</label>
                  <input type="text" class="form-control" id="startDateInput" name="startDateInput" aria-describedby="startDateInput" required>
                  <div id="startDateInput" class="form-text">Enter date format yyyy-mm-dd.</div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div id="validationServerStartDate" class="invalid-feedback">
                    Please enter correct date.
                  </div>
                </div>

                <div class=" ">
                    <label for="endDateInput" class="form-label">End date</label>
                    <input type="text" class="form-control" id="endDateInput" name="endDateInput" aria-describedby="endDateInput" required>
                    <div id="endDateInput" class="form-text">Enter date format yyyy-mm-dd.</div>
                  </div>
                </div>-->

                <div class="form-row">
                    <div class="col">
                        <div id="dateRangePicker" class="form-row row">
                            <div class="col">
                                <input required type="text" name="start" class="form-control" placholder="start">
                                <div class="valid-feedback">
                                    Looks good!
                                  </div>
                                  <div id="validationStartDate" class="invalid-feedback">
                                    Please enter correct date.
                                  </div>
                            </div>
                            <div class="col">
                                <input required type="text" name="end" class="form-control" placeholder="end">
                                <div class="valid-feedback">
                                    Looks good!
                                  </div>
                                  <div id="validationEndDate" class="invalid-feedback">
                                    Please enter correct date.
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
{{end}}

<!-- https://getbootstrap.com/docs/5.3/forms/validation/ -->

{{define "js"}}
<script>
// const startDateElem = document.querySelector('input[name="startDateInput"]');
// const startDatepicker = new Datepicker(startDateElem, { });
// const endDateElem = document.querySelector('input[name="endDateInput"]');
// const endDatepicker2 = new Datepicker(endDateElem, { });
const elem = document.getElementById('dateRangePicker');
const rangepicker = new DateRangePicker(elem, {
// ...options
});

// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
})()

</script>
{{end}}